* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #205e61;
}
label {
  color: #b9f3fc;
  margin-bottom: 0.5rem;
  display: inline-block;
}

select {
  width: 130px;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.2rem 0.3rem;
  color: #a29191;
  border: none;
  border-radius: 0.2rem;
}

button {
  padding: 0.3rem 1rem;
  background-color: #205e61;
  border: 1px solid #a29191;
  color: #205e61;
  background-color: #fff;
  font-weight: 600;
  border-radius: 0.2rem;

  cursor: pointer;
}
.fruid__box {
  width: 70%;
  margin: 50px auto;
  position: relative;

  display: grid;
  grid-template-columns: 2fr 5fr;
}

/* form {
  grid-column-start: 1;
  grid-column-end: 2;
}
.list__box{
  grid-column-start: 3;
  grid-column-end: 10;
} */
/* form{
  width: 35%;
  margin: 0 auto;
} */
input {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #3f979b;
  border-radius: 4px;
  color: #defcf9;
  font-size: 1.2rem;
  font-weight: 300;
}

input::placeholder {
  color: #b9f3fc;
}

ul {
  list-style: none;
  margin-top: 2rem;
}
#amount {
  border-radius: 0.3rem;
  display: inline-block;
  padding: 0.2rem 0.6rem;
  background-color: #fffccc;
  font-size: 0.7rem;
  font-weight: 400;
  color: #bc7171;
  position: absolute;
  top: 17px;
  left: 310px;
}
.item__box {
  background-color: #3f979b;
  padding: 0.4rem 0.4rem;
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  color: #f5edce;
}

.item__name {
  margin-right: 1rem;
}

.filter__box {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* .filter__box div {
} */
